body {
    background-color: #1a1a1a; /* Fundo quase preto */
    color: #e0e0e0; /* Letra cinza claro */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
     padding-top: 160px;
}

header {
    background-color: #000000;
    padding: 20px;
    text-align: center;
    border-bottom: 3px solid #cc0000;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

nav {
    background-color: #333;
    padding: 10px;
    text-align: center;
    position: fixed;
    top: 120px;
    width: 100%;
    z-index: 999;
}

nav a {
    color: white;
    text-decoration: none; 
    margin: 0 20px;
    font-size: 18px;
    text-transform: uppercase;
}

nav a:hover {
    color: #cc0000; 
}

.conteudo {
   width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #252525;
    border: 1px solid #444;

    margin-top: 220px;
}

h1, h2 {
    color: #cc0000;
}

/** estilo do elenco**/
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

table, th, td {
    border: 1px solid #555;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #cc0000;
    color: black;
}

form{
    margin-top: 40px;
    background-color: #302f2f;
    max-width: 400px;
    margin-left: 36%;
    text-align: center;
    padding: 25px;
    border-radius: 5px;
   
}

input{
    display: block;
    margin-left: 28%;
    border-radius: 5px;
    margin-bottom: 20px;
}

select{
    display: block;
    margin-top:5px ;
    margin-left: 28%;
    margin-bottom: 25px;
    border-radius: 5px;
}

textarea{
    margin-top: 5px;
    border-radius: 5px;
}

label{
    color: #cc0000;
    font-size:20px;
}

#enviar{
    margin-left: 40%;
    margin-top: 20px;
    height: 35px;
    width: 80px;
    background-color: #ea0a0a;
    color: white;
    font-size: medium;
}

.form-ini{
    text-align: center;
}